{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title | safe }}
{% endblock %}

{% block body %}
    <h1>Add Wiki Page</h1>
    <form method="post" action="{% url 'add' %}">
        {% csrf_token %}
        <input style="padding: 5px; border-radius: 10px; border: 2px double rgb(63, 56, 56);" type="text" name="title" placeholder="Title"><br><br>
        <textarea style="height: 50vh; width: 60%; border: 2px solid rgb(0, 0, 0);" name="body" placeholder="Description in Markdown"></textarea><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}